# Python virtual environments
venv/
.venv/
env/

.pyc

# Data and Models
*.zip
*.csv
*.h5
*.pth
*.npy
datasets/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# dont pictures or pdf files
.pdf
,png