# Python virtual environments
venv/
.venv/
env/

*.pyc

# Data and Models
*.zip
*.csv
*.h5
*.keras
*.pth
*.npy
datasets/
dataset/
runs/
*.pq
*.tar.gz
*.mat

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# dont pictures or pdf files
*.pdf
*.png
*.jpg
*.jpeg

.vscode/

# whatever the hell .xml is
*.xml